@import "variables"

.test-class
  color: blueviolet
  transition: background-color 1s ease-in
  border-radius: 10px
  padding: 10px
  text-align: center

  &:hover
    background-color: black

p
  color: red
  font-size: 25px

div p
  font-size: $small-font-size